module mycertwatch 1.0;

require {
        type openvpn_t;
        type openvpn_etc_t;
        class file unlink;
}

#============= openvpn_t ==============
allow openvpn_t openvpn_etc_t:file unlink;
